@import '@/scss/variables';
@import '@/scss/mixins/breakpoints';

// Anchors
a {
  background-color: $tertiary;
  border: 1px solid $primary;
  border-radius: $border-radius-md;
  color: $secondary;
  padding: $size-sm;
  text-decoration: none;
	
  &:hover {
    background-color: lighten($tertiary, 5%);
  }
}

.icon {
  &-large {
    font-size: $icon-lg;
    @include media-breakpoint-up(sm) {
      font-size: $icon-xl;
    }
  }
  
  &-medium {
    font-size: $icon-md;
    @include media-breakpoint-up(sm) {
      font-size: $icon-lg;
    }
  }
  
  &-small {
    font-size: $icon-sm;
    @include media-breakpoint-up(sm) {
      font-size: $icon-md;
    }
  }
}


// Paragraphs
.p {
  color: $secondary;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
	
  // All paragraphs with a previous sibling have a margin top.
  + p {
    margin-top: $size-sm;
  }
  
  &-large {
    font-size: $font-md;
    @include media-breakpoint-up(sm) {
      font-size: $font-lg;
    }
  }
  
  &-medium {
    font-size: $font-sm;
    @include media-breakpoint-up(sm) {
      font-size: $font-md;
    }
  }
  
  &-small {
    font-size: $font-xs;
    @include media-breakpoint-up(sm) {
      font-size: $font-sm;
    }
  }
}
  
// Images
.img {
  margin: $size-sm;
}
  
// Buttons
.btn {
  border-radius: 0.25rem;
  margin: $size-sm;
  padding: $size-sm;
  
  &-primary {
    background-color: $primary;
  }
  
  &-secondary {
    background-color: $secondary;
  }
  
  &-tertiary {
    background-color: $tertiary;
  }
}
  
// Style lists
.list {
  list-style: none;
  padding-left: 0;
}
